{% extends 'base.html.twig' %}

{% block title %}Hello PlayDeckController!{% endblock %}

{% block body %}
<h1>{{ deck.titre }}</h1>

{{ dump(cartes) }}

<div class="tabs">
    <div class="tab-buttons">
      <button class="tab-button active" data-tab="tab1">Onglet 1</button>
      <button class="tab-button" data-tab="tab2">Onglet 2</button>
      <button class="tab-button" data-tab="tab3">Onglet 3</button>
    </div>
    <div class="tab-contents">
      <div class="tab-content active" data-tab="tab1">
        {% for carte in deck.cartes %}
            {% for carteIn in cartes %}
                {% if carteIn.id != carte.id %}
                    {{ carte.question }}<br>
                {% endif %}
            {% endfor %}
        {% endfor %}
      </div>
      <div class="tab-content" data-tab="tab2">
        Contenu de l'onglet 2
      </div>
      <div class="tab-content" data-tab="tab3">
        Contenu de l'onglet 3
      </div>
    </div>
  </div>

{% endblock %}
