h1 {
    color: red;
}

h2 {
    color: blue;
}


#formulairePdf{
  text-align: center;
}



#azerty{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

#playDeckZone{
  width: 750px;
  background-color: antiquewhite;
  text-align: center;
  padding: 0px;
}

#tabsPlayDeck {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 20px;
  }
  
  .tab-buttons {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #ccc; */
  }
  
  .tab-button {
    /* background-color: #ccc; */
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    /* transition: background-color 0.3s ease-in-out; */
  }

  .tab-button.grey {
    background-color: rgb(177, 177, 177);
  }
  .tab-button.red {
    background-color: rgb(255, 98, 98);
  }
  .tab-button.blue {
    background-color: rgb(52, 191, 255);
  }
  .tab-button.green {
    background-color: rgb(113, 209, 75);
  }
  
  .tab-button.active {
    /* background-color: #fff; */
    border: 1px solid #ccc;
    border-bottom: none;
  }
  
  #container-tab-contents {
    padding: 10px;
    border-radius: 0 25px 25px 25px;
    transition: background-color 0.5s ease-in-out;
  }
  
  .tab-content {
    display: none;
    padding: 0px;
    /* transition: background-color 3s ease-in-out; */
  }
  
  .tab-content.active {
    display: block;
    /* transition: background-color 3s ease-in-out; */
  }

  .tab-button>span {
    display: inline;
  }
  
  .tab-button>span.active {
    display: inline;
  }

  .carte{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    /* transition: background-color 3s ease-in-out; */
  }

  @media screen and (max-width: 750px){
    
    
    .tab-button>span {
      display: none;
    }

    

}
  
  