@import "~bs-custom-file-input/dist/bs-custom-file-input.min.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* background-image: url( '../img/protruding-squares.svg' ); */
  background-color: white;
}

header {
  background-color: #22252a;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(0, 0, 0);
}


#formulairePdf{
  text-align: center;
}

#header-contenair{
  display: flex;
  gap: 100px;
}

#logo{
  height: 90px;
  width: 160px;
  margin: 0px;
  border-radius: 10px;
}


#wrapper{
  max-width: 1300px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px;
}


#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 0;
}

#play-deck-zone{
  background-color: #d3d3d386;
  backdrop-filter: blur(7px);
  width: 750px;
  flex: 1 1 750px;
  text-align: center;
  padding: 20px;
  margin: 0 0;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#tabs-play-deck {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 20px 0;
  }
  
  #play-deck-zone .tab-buttons {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #ccc; */
  }
  
  #play-deck-zone .tab-button {
    /* background-color: #ccc; */
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    /* transition: background-color 0.3s ease-in-out; */
  }

  #play-deck-zone .tab-button.grey , .no-level{
    background-color: rgb(177, 177, 177);
  }
  #play-deck-zone .tab-button.red, .btn-response.red , .level-0{
    background-color: rgb(255, 98, 98);
  }
  #play-deck-zone .tab-button.blue, .btn-response.blue, .level-1{
    background-color: rgb(52, 191, 255);
  }
  #play-deck-zone .tab-button.green, .btn-response.green, .level-2{
    background-color: rgb(86, 192, 44);
  }
  
  #play-deck-zone .tab-button.active {
    /* background-color: #fff; */
    border: 1px solid #e7e7e7;
    border-bottom: none;
  }
  
  #play-deck-zone .container-tab-contents {
    padding: 10px;
    border-radius: 0 25px 25px 25px;
    transition: background-color 0.5s ease-in-out;
  }
  
  #play-deck-zone .tab-content {
    display: none;
    padding: 0px;
    /* transition: background-color 3s ease-in-out; */
  }
  
  #play-deck-zone .tab-content.active {
    display: block;
    /* transition: background-color 3s ease-in-out; */
  }

  #play-deck-zone .tab-button>span {
    display: inline;
  }
  
  #play-deck-zone .tab-button>span.active {
    display: inline;
  }


  .image-card img{
    max-height: 200px;
    max-width: 270px;
  }

  #select-deck-zone{
    width: 750px;
    display: inline-block;
    flex: 1 1 450px;
    /* flex-basis: 40%; */
    /* max-width: 750px; */
  }

  #container>* {
    
  }



  #select-deck-zone .tab-buttons {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #ccc; */
  }
  
  #select-deck-zone .tab-button {
    /* background-color: #ccc; */
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    /* transition: background-color 0.3s ease-in-out; */
  }
  
  #select-deck-zone .tab-button.active {
    /* background-color: #fff; */
    border: 1px solid #ccc;
    border-bottom: none;
  }
  
  #select-deck-zone .container-tab-contents {
    padding: 10px;
    background-color: #e8e8e8;
    height: 700px;
    border-radius: 0 10px 10px 0;
    overflow-y: auto;
  }
  
  #select-deck-zone .tab-content {
    display: none;
    padding: 0px;
    /* transition: background-color 3s ease-in-out; */
  }
  
  #select-deck-zone .tab-content.active {
    display: flex;
    flex-wrap: wrap;
    /* transition: background-color 3s ease-in-out; */
  }










  .missing-card {

    height: 400px;

  }


  

  #btns-response{
    display: none;
    justify-content: center;
    gap: 50px;
  }

 






  
  .card-container{
    font-size: 20px;
    display: inline-block;
    perspective: 1000px;
    transition: all 0.5s ease-out;
    width: 80%;
  }


  .card{
    height: auto;
    width: 100%;
    min-height: 400px;
    /* min-width: 300px; */
    position: relative;
    /* height: 100%; */
    /* justify-content: center; */
    border-radius: 20px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: inline-block;
  }

  .question, .response {
    display: flex;
    flex-direction: column;
    border: 15px solid whitesmoke;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .response{
  transform: rotateY(180deg);
  }


  .flipped {
    transform: rotateY(180deg);
  }




  .header-card{
    display: flex;
  justify-content: center;
  align-items: center;
    height: 40px;
    color: white;
    background-color: #000000;
    border-radius: 10px;
  }

  .body-card{
    display: flex;
  justify-content: center;
  align-items: center;
    height: 330px;
  }

  
  /* .response{
    display:none;
  }

  .response.active{
    display:block;
  }

  .question{
    display:none;
  }

  .question.active{
    display:block;
  } */




  .translate-effect-right {
    animation-name: translateR;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
  @keyframes translateR {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
  }

  .translate-effect-left {
    animation-name: translateL;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
  @keyframes translateL {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  

  .inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .fa-print.big{
    font-size:x-large;
  }

  .add-favori{
    cursor: pointer;
  }

  .add-favori.big{
    font-size:xx-large;
  }

  .add-favori.red{
    color: firebrick;
  }

  


  .progress-deck{
    display: flex;
    border: 1px solid #000000 ;
    border-radius: 20px;
    background-color: #000000;
  }

  .progress-deck div{
    border-radius: 20px;
  }


  .progress-deck.large{
    height: 20px;
    margin-top: 20px;
  }

  .progress-deck.list{
    display: flex;
    width: 300px;
    height: 10px;
  }


  .container-item-deck{
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000 ;
    margin: 5px;
    padding: 5px;
  }

  .item-deck.tree-1 span{
    color: darkslategrey;
    font-size: x-small;
  }

  .item-deck.tree-1-1-1, .item-deck.tree-1-1-2, .item-deck.tree-1-1-3{
    display: flex;
    justify-content: space-between;
  }

  .item-deck.tree-1-2-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  #search-results > div{
    display: flex;
    flex-wrap: wrap;
  }

  .container-item-deck{
    flex: 1 1 calc(50% - 10px);
  }


  #play-deck-zone .tab-button span {
    font-size: 15px;
  }

  .deck-delete{
    display: flex;
    align-items: flex-start;
  }

#list-decks{
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 20px;
}


@media screen and (max-width: 900px){
    
    
    #play-deck-zone .tab-button>span:first-child {
      display: none;
    }

    #play-deck-zone .tab-button>span.active {
      display: inline;
    }



    .table thead {
      display: none;
    }
      
    .table tr{
    display: block;
    /* margin-bottom: 40px; */
    }
      
    .table td {
    display: block;
    /* text-align: right; */
    }

    .table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }

    

}
  
  