{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}

    {% for utilisateur in utilisateurs %}
        <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">{{ utilisateur.pseudo }}</a> <br>
    {% else %}
        No users have been found.
    {% endfor %}

{% endblock %}
