{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de la recherche</h1>


    <form method="GET" action="{{ path('search') }}">
        <label for="titre">Titre</label>
        <input onchange="updateResults()" type="checkbox" id="titre" name="titre" value="titre" />
        <label for="description">Description</label>
        <input onchange="updateResults()" type="checkbox" id="description" name="description" value="description" />
        <label for="pseudo">Auteur</label>
        <input onchange="updateResults()" type="checkbox" id="pseudo" name="pseudo" value="pseudo" />
        <label for="categorie">Catégorie :</label>
        <select onchange="updateResults()" id="categorie" name="categorie">
            <option value="">Toutes les catégories</option>
            {% for categorie in categories %}
                <option value="{{ categorie.id }}" {% if categorie.id == app.request.query.get('categorie') %}selected{% endif %}>{{ categorie.nom }}</option>
            {% endfor %}
        </select>
    
        {# <button type="submit">Rechercher</button> #}
    </form>

 <div id="search-results">
    {% if decks|length == 0 %}
        <p>Aucun résultat trouvé.</p>
    {% else %}
        <div>
            {% for deck in decks %}
                {% include 'item_deck.html.twig' with {'deck': deck } %}
            {% endfor %}
        </div>
    {% endif %}
</div>

<script>
const searchInput = document.querySelector('#query');
const titreInput = document.querySelector('#titre');
const descriptionInput = document.querySelector('#description');
const pseudoInput = document.querySelector('#pseudo');
const searchResults = document.querySelector('#search-results');

 function updateResults() {
    const query = searchInput.value;
    const titre = titreInput.checked;
    const description = descriptionInput.checked;
    const pseudo = pseudoInput.checked;

    if (query.length >= 0) {
        fetch('/recherche?query='+query+(titre ? "&titre=true" : "")+(description ? "&description=true" : "")+(pseudo ? "&pseudo=true" : ""))
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const searchResultsNew = doc.querySelector('#search-results');
                searchResults.innerHTML = searchResultsNew.innerHTML;
            });
    } else {
        searchResults.innerHTML = '';
    }
}
</script>
{% endblock %}